@page
@model ProjectManagementWebApp.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserModel.Name" class="control-label"></label>
                <input asp-for="UserModel.Name" class="form-control" />
                <span asp-validation-for="UserModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserModel.Email" class="control-label"></label>
                <input asp-for="UserModel.Email" class="form-control" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserModel.Password" class="control-label"></label>
                <input asp-for="UserModel.Password" class="form-control" />
                <span asp-validation-for="UserModel.Password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserModel.PasswordRepeat" class="control-label"></label>
                <input asp-for="UserModel.PasswordRepeat" class="form-control" />
                <span asp-validation-for="UserModel.PasswordRepeat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserModel.Role" class="control-label"></label>
               
                <select asp-for="UserModel.Role" asp-items="Html.GetEnumSelectList<ProjectManagementWebApp.Models.RoleValues>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="UserModel.Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
